@use "base";

:root {
  --tw-dates-text-color: #fff;
  --tw-dates-secondary-color: #bcbcbcff;
  --tw-dates-border-color: #595959;
  --tw-dates-bg-color: #14171e;
  --tw-dates-disabled-color: #616161;
  --tw-dates-hover-color: #3a3d4a;
  --tw-dates-bg2-color: #2b2d37;
  --tw-dates-focus-color: #ffbf00;
  --tw-dates-error-color: #f16c57;
  --tw-dates-active-color: #ffbf00;
}

.tabworthy-dates__input {
  color: var(--tw-dates-text-color);
  &::placeholder {
    color: var(--tw-dates-text-color);
    font-size: 1rem;
    opacity: 0.8;
  }
}
