tabworthy-dates-calendar,
tabworthy-dates-calendar *,
tabworthy-dates-calendar *:before,
tabworthy-dates-calendar *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

tabworthy-dates-calendar {
  display: inline-flex;
}

tabworthy-dates *:focus-visible {
  outline: 0.25rem solid var(--tw-dates-focus-color);
}

.tabworthy-dates-calendar-wrapper {
  border: 0.0625rem solid var(--tw-dates-border-color);
  border-radius: 0.375rem;
  display: flex;

  &--inline {
    margin-top: 0.5em;
  }
}

.tabworthy-dates-calendar,
.tabworthy-dates {
  display: block;
  width: min-content;
  min-width: 18rem;
  max-width: 24rem;
  border-radius: 0.375rem;
  color: var(--tw-dates-text-color);
  background-color: var(--tw-dates-bg-color);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 23.5rem) {
  .tabworthy-dates-calendar,
  .tabworthy-dates {
    min-width: 20rem;
    max-width: 24rem;
  }
}

.tabworthy-dates-calendar--disabled *[aria-disabled] {
  opacity: 0.5;
  cursor: default;
}

.tabworthy-dates-calendar--disabled .tabworthy-dates-calendar__weekday {
  color: var(--tw-dates-disabled-color);
}

.tabworthy-dates-calendar--disabled .tabworthy-dates-calendar__date:focus > * {
  outline: none;
}

.tabworthy-dates-calendar--disabled .tabworthy-dates-calendar__date {
  cursor: default;
  opacity: 0.5;
}

.tabworthy-dates-calendar--disabled .tabworthy-dates-calendar__date:hover > * {
  background-color: transparent;
}

.tabworthy-dates-calendar--disabled
  .tabworthy-dates-calendar__date--in-range:hover
  > * {
  background-color: #f2f3f5;
}

.tabworthy-dates-calendar--disabled
  .tabworthy-dates-calendar__date--selected:hover
  > * {
  color: #fff;
  background-color: var(--tw-dates-hover-color);
}

.tabworthy-dates-calendar__header {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
}

.tabworthy-dates-calendar__current-month {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
}

.tabworthy-dates-calendar__month-select,
.tabworthy-dates-calendar__year-select {
  display: flex;
  height: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  color: var(--tw-dates-text-color);
  background: var(--tw-dates-bg2-color);
  font: inherit;
  line-height: 1.125;
  &:hover:not(:disabled) {
    background-color: var(--tw-dates-hover-color);
  }
  &:focus-visible {
    outline: 0.25rem solid var(--tw-dates-focus-color);
  }
  @media screen and (forced-colors: active) {
    border: 1px solid transparent;
  }
}

.tabworthy-dates-calendar__month-select {
  flex-grow: 1;
  cursor: pointer;
  appearance: none;
}

.tabworthy-dates-calendar__year-select {
  max-width: 5rem;
}

.tabworthy-dates-calendar__previous-month-button,
.tabworthy-dates-calendar__next-month-button,
.tabworthy-dates-calendar__previous-year-button,
.tabworthy-dates-calendar__next-year-button {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  padding: 0.375rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  color: var(--tw-dates-text-color);
  background-color: var(--tw-dates-bg2-color);
  cursor: pointer;
  &:hover:not([aria-disabled]) {
    background-color: var(--tw-dates-hover-color);
  }
  &:focus-visible {
    outline: 0.25rem solid var(--tw-dates-focus-color);
  }
  &[aria-disabled] {
    color: var(--tw-dates-disabled-color);
    @media screen and (forced-colors: active) {
      color: GrayText;
    }
  }
}

.tabworthy-dates-calendar__body {
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
}

.tabworthy-dates-calendar__calendar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tabworthy-dates-calendar__weekday > span {
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  aspect-ratio: 1;
}

.tabworthy-dates-calendar__date {
  padding: 0.125rem;
  text-align: center;
  cursor: pointer;
}

.tabworthy-dates-calendar__date:focus {
  outline: none;
}

.tabworthy-dates-calendar__date:focus-visible > * {
  outline: 0.25rem solid var(--tw-dates-focus-color);
  @media screen and (forced-colors: active) {
    outline-color: Highlight;
  }
}

.tabworthy-dates-calendar__date:hover > * {
  background-color: var(--tw-dates-hover-color);
}

.tabworthy-dates-calendar__date > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  aspect-ratio: 1;
}

.tabworthy-dates-calendar__date--current {
}

.tabworthy-dates-calendar__date--overflowing {
}

.tabworthy-dates-calendar__date--today > * {
  font-weight: 700;
  font-style: normal;
  color: var(--tw-dates-active-color);
}

.tabworthy-dates-calendar__date--selected > *,
.tabworthy-dates-calendar__date--selected:hover > *,
.tabworthy-dates-calendar__date--in-range:hover > *,
.tabworthy-dates-calendar__date--in-range > * {
  color: var(--tw-dates-bg-color);
  background-color: var(--tw-dates-active-color);
  font-weight: 500;
  outline-offset: 0.125rem;
  @media screen and (forced-colors: active) {
    background-color: Highlight;
  }
}

.tabworthy-dates-calendar__date--disabled {
  color: var(--tw-dates-disabled-color);
  cursor: default;
  @media screen and (forced-colors: active) {
    color: GrayText;
  }
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 1.5rem;
    width: 0.078125rem;
    background-color: var(--tw-dates-disabled-color);
    transform: rotate(45deg);
    right: 50%;
    top: 25%;
  }
}

.tabworthy-dates-calendar__date--disabled:not(
    .tabworthy-dates-calendar__date--selected
  ):not(.tabworthy-dates-calendar__date--in-range):hover
  > * {
  background-color: transparent;
}

.tabworthy-dates-calendar__date--disabled.tabworthy-dates-calendar__date--in-range:not(
    .tabworthy-dates-calendar__date--selected
  ):not(.tabworthy-dates-calendar__date--in-range)
  > * {
  background-color: transparent;
}

.tabworthy-dates-calendar__footer {
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tabworthy-dates-calendar__footer-buttons {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.tabworthy-dates-calendar__clear-button,
.tabworthy-dates-calendar__today-button,
.tabworthy-dates__quick-button,
.tabworthy-dates__calendar-button {
  display: inline-flex;
  height: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  color: var(--tw-dates-text-color);
  background-color: var(--tw-dates-bg2-color);
  font: inherit;
  line-height: 1;
  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: var(--tw-dates-hover-color);
  }

  &:focus-visible {
    outline: 0.25rem solid var(--tw-dates-focus-color);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
.label {
  font-weight: 600;
  display: block;
}
.tabworthy-dates__calendar-button {
  margin-left: 0.5rem;
  height: 2.5rem;
}
.tabworthy-dates__quick-group {
  margin-top: 0.5rem;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.tabworthy-dates__quick-button {
  color: var(--tw-dates-text-color);
  background-color: inherit;
  text-decoration: underline;
  &:hover:not(:disabled) {
    background-color: var(--tw-dates-hover-color);
  }
}

.tabworthy-dates__input {
  box-sizing: border-box;
  display: inline-flex;
  height: 2.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  color: var(--tw-dates-text-color);
  background: var(--tw-dates-bg2-color);
  line-height: 1;
  border: 1px solid var(--tw-dates-border-color);
  font-size: 1rem;
  &[aria-invalid] {
    border-color: var(--tw-dates-error-color);
  }
}

.tabworthy-dates-calendar__keyboard-hint {
  color: var(--tw-dates-secondary-color);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  border: none;
  margin: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  padding: 0.25rem;
}

.tabworthy-dates__label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: inline-block;
  font-family: "Segoe UI", sans-serif;
  color: var(--tw-dates-text-color);
}

.tabworthy-dates__input {
  flex-grow: 1;
}

.tabworthy-dates__input-container {
  min-width: 300px;
  max-width: 400px;
  display: flex;
}

.tabworthy-dates__input-error {
  display: flex;
  padding: 0.5rem;
  color: var(--tw-dates-error-color);
  font-weight: 700;
}
