@use "base";

:root {
  --tw-dates-text-color: #111;
  --tw-dates-secondary-color: #767676;
  --tw-dates-border-color: #949494;
  --tw-dates-bg-color: #fff;
  --tw-dates-disabled-color: #959595;
  --tw-dates-hover-color: #e5e7eb;
  --tw-dates-bg2-color: #f2f3f5;
  --tw-dates-focus-color: #0000ff;
  --tw-dates-error-color: #d4351c;
  --tw-dates-active-color: #0000ff;
}
